<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authentication Service</title>
</head>
<body>
<form method="POST" th:action="@{/login?redirect=#request.getParameter('redirect')}">
    <h2>Log in</h2>
    <input name="username" type="text" placeholder="Username"
           autofocus="true"/>
    <input name="password" type="password" placeholder="Password"/>
    <div style="color: red" th:if="${error}" th:text="${error}"></div>
    <div style="color: green" th:if="${success}" th:text="${success}"></div>
    <br/>
    <button type="submit">Log In</button>
</form>
</body>
</html>
